name: Website Monitor

on:
  schedule:
    - cron: '0 */24 * * *'   # every 24 hours
  workflow_dispatch:

jobs:
  run:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Setup Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.11'

    - name: Install dependencies
      run: pip install requests beautifulsoup4 google-genai

    - name: Run script
      run: python main.py
